<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Burgers!</title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body class= bg-warning>
    <center>
    <img src="http://localhost:8080/assets/img/burger.png" alt='Burger image'style="width:200px;"/>
    </center>
    <h1><center>Eat Da Burger</center></h1>
  {{{ body }}}
</body>
</html>
